<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="script.js"></script>
        
        <style>
            
            table {
              border-collapse: collapse;
              width: 100%;
            }
        </style>
    </head>

    <body ng-app="myApp" ng-controller="myCtr">
        <div class="jumbotron jumbotron-fluid text-center mb-0">
            <h1>REST API TEST</h1>
        </div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 style="padding: 10px; text-align: center">New User</h4>
                            
                                  <div class="form-group">
                                    <label>Name：</label>
                                    <input type="text" ng-model="name" class="form-control"  placeholder="Enter Name">
                                  </div>
                                  <div class="form-group">
                                    <label>Profile：</label>
                                    <input type="text" ng-model="profile" class="form-control"  placeholder="Enter You!">
                                  </div>
                                  <button type="submit" ng-click="createUser()" class="btn btn-primary btn-block">Submit</button>
                           
                                    <button ng-click="showUsers()">Show Users</button>
       
                        </div>
                        <div class="col-sm border">
                            <table class="table table-bordered table-striped" >
                                <thead class="thead-dark">
                                    <tr class="w-33">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Profile</th>
                                        <th scope="col">Tweets</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in myData">
                                    <tr class="w-33">
                                        <th scope="col">1</th>
                                        <td>{{x.name}}</td>
                                        <td>{{x.profile}}</td>
                                        <td>{{x.tweets}}</td>
                                    </tr>
                                </tbody>
                            </table>                       
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        
        
        
<!--
        
        <div style="height: 20px" ></div>
        <div class="container">
            <div class="input-group row justify-content-center">
                 <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name：</span>
                </div>
                <input type="text" ng-model="name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group row justify-content-center">
                 <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Profile：</span>
                </div>
                <input type="text" ng-model="profile" placeholder="Profile" aria-label="Profile" aria-describedby="basic-addon2">
            </div>
            <div>
                <button ng-click="createUser()" class="btn btn-primary">Create User</button>
            </div>
        </div>
        <div class="col-6" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Tweets</th>
                </tr>
            </thead>
            
            <tbody ng-repeat="x in myData">
                <th scope="col">1</th>
                <td>{{x.name}}</td>
                <td>{{x.profile}}</td>
                <td>{{x.tweets}}</td>
            </tbody>
        </table>
        </div>
        <div>
            <button ng-click="showUsers()">Show Users</button>
        </div>
-->
    </body>
</html>


